<app-card></app-card>
<div class="main">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/biking.jpeg" >
      </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
          <p class="title is-4">Dağ Bisikleti</p>
          <p class="subtitle is-6">@cbdag</p>
        </div>
      <div class="content">
        Çok hızlı sürdüm
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/mountain.jpeg" >
      </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
          <p class="title is-4">Tırmanış</p>
          <p class="subtitle is-6">@cbuludag</p>
        </div>

      <div class="content">
        Bugünde iyi tırmandım
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/tree.jpeg" >
      </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
          <p class="title is-4">Doğa Yürüyüşü</p>
          <p class="subtitle is-6">@cbdoga</p>
        </div>

      <div class="content">
        Hadi biraz Maçka Parkında turlayalım
      </div>
    </div>
  </div>
</div>


