<!-- <app-placeholders-home></app-placeholders-home> -->
<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLinkActive="active" routerLink="/placeholders" class="item">Placeholder</a>
        <a routerLinkActive="active" routerLink="/tables" class="item">Tables</a>
        <a routerLinkActive="active" routerLink="/lists" class="item">List</a>
        <a routerLinkActive="active" routerLink="/popups" class="item">Popup</a>
      </div>
      <div class="ui segment">
       <router-outlet></router-outlet>
      </div>
</div>
