<div class="container">
  <nav>
    <ul class="pagination paginationUl">
      <li class="page-item"
      [ngClass]="{disabled:currentPage === 0}"
      >
        <a (click)="currentPage = currentPage - 1" class="page-link">Önceki</a>
      </li>
      <li class="page-item"
      [ngClass]="{active:i === currentPage}"
      *ngFor="let image of images; let i = index"
      >
        <a (click)="currentPage = i" class="page-link">{{i + 1 }}</a>
      </li>
      <li class="page-item"
      [ngClass]="{disabled:currentPage === images.length - 1}"
      >
        <a (click)="currentPage = currentPage + 1" class="page-link">Sonraki</a>
      </li>
    </ul>
  </nav>

  <div class="mainImg">
    <h4 style="color: white;">{{images[currentPage].title}}</h4>
    <img class="Img" [src]="images[currentPage].url">
  </div>
</div>

