<div class="container">
  <h3>Fatura</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>İsim</label>
        <input class="form-control" type="text" (input)="onNameChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>İsim</b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Odeme Tarihi</label>
        <input class="form-control" type="date" (input)="onDateChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Odeme Tarihi</b></label>
      <div>
        {{date | date:'MMMM d,y'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tutar</label>
        <input class="form-control"  (input)="onMoneyChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Tutar</b></label>
      <div>
        {{money | currency : 'AZN'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Boy</label>
        <input class="form-control"  (input)="onHeightChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Boy</b></label>
      <div>
        {{height | number: '1.1-4'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Mil</label>
        <input class="form-control"  (input)="onMilesChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Km</b></label>
      <div>
        {{miles | convert:'cm'}}
      </div>
    </div>
  </div>
</div>


